## For this project we will create a Algorithmic Trading Bot
## THe Trading bot will trade via a Sector Rotation Strategy
## Based off the technical Indicators of Sector Funds or ETFs who also use Sector Rotation Strategy
## Sector Rotation Strategy is simply using techincal indicators and macroeconomic factors 
## For the sake of this project, Sector Rotation Strategy will be identified as SRS in the details of the project not the actual code

In [1]:
#  Getting the Data via 'yfinance'
# Import Libraries
import pandas as pd
import yfinance as yf

In [2]:
cibr_df = yf.download("CIBR",
                     start="2015-07-06",
                     end="2023-03-03",
                     progress=False)
cibr_df

                 Open       High        Low      Close  Adj Close  Volume
Date
2015-07-07  20.000000  20.049999  19.400000  20.020000  19.219652   81200
2015-07-08  20.000000  20.100000  19.600000  19.799999  19.008448  111600
2015-07-09  20.120001  20.580000  19.980000  20.040001  19.238853  249500
2015-07-10  20.459999  20.459999  20.150000  20.309999  19.498064  155700
2015-07-13  20.639999  20.840000  20.299999  20.360001  19.546061  145000
...               ...        ...        ...        ...        ...     ...
2023-02-24  41.200001  41.400002  40.959999  41.150002  41.150002  721000
2023-02-27  41.520000  41.820000  41.189999  41.299999  41.299999  350700
2023-02-28  41.310001  41.520000  41.150002  41.230000  41.230000  340400
2023-03-01  41.290001  41.459999  40.959999  41.099998  41.099998  526200
2023-03-02  41.000000  41.785000  40.919998  41.730000  41.730000  498700

[1928 rows x 6 columns]

In [3]:
# In-depth data can be called using the 'yf.Ticker()' method
cibr = yf.Ticker("CIBR")